@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(Homepage.png) no-repeat center center fixed, #240b0b;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Container */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 15px 5%;
    background: #720D2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo E-Alert */
.alt-logo {
    width: 120px;
    height: auto;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar a {
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

/* Hover Effect */
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(4px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0px);
    opacity: 1;
}

/* HAMBURGERRRR Menu Button */
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 200;
}

/* Resposive Settings for Mobile */
@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #720D2A;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 0;
        z-index: 150;
    }

    .navbar a {
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
    }

    .navbar a::after {
        left: 0;
        width: 100%;
        /* underline span */
        transform: translateY(10px);
    }

    .navbar a:hover::after {
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }
}

/* Background */
.background {
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
    background-position: center;
}

/* Section Styles */
section {
    color: #fff;
    padding: 80px 0 0 0;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 5px;
}

section p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
}



/* Scroll to Top Button */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00000064;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 100%;
    cursor: pointer;
    display: none;
    z-index: 200;
    transition: opacity 0.5s ease-in;
}

.scroll-to-top-btn:hover {
    background-color: #ce8593;
    transition: background-color 0.5s ease-out;
}

.btn {
    width: 100%;
    height: 40px;
    background: #EA4F4F;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    color: #3a0312;
    font-weight: 1000;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn:hover {
    background-color: #f1d015;
    color: #3a0312;
    font-weight: 1000;
    transition: .2s ease-in, color .3s ease-out;
    text-decoration: underline;
}

.inquiry-form {
    max-width: 800px;
    margin-top: -30px;
    margin: 50px auto;
    padding: 20px;
    background: #3b1d1d;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Emergency Icons */
.emergency-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.emergency-icons button {
    background: #8d1b1b;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Arial', sans-serif;
    display: block;
}


/* Report Section */


.report-image {
    width: 80px;
    height: 80px;
    margin-left: 45px;
    border-radius: 50%;
}

.report-content {
    flex: 1;
}

.report-content label {
    display: block;
    color: white;
    margin-top: 5px;
    font-size: 1rem;
    font-family: Arial;
    font-style: italic;
    font-weight: 800;
}

.report-content input {
    width: 80%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: #fff;
}

/* Parent container for inquiry and photo section */
.inquiry-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.inquiry-container label {
    font-family: Arial;
    font-weight: 700;
    font-style: italic;
}

/* Inquiry Field */
.inquiry-box {
    margin-top: 35px;
}

.input-group {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group label {
    text-align: right;
}

/* Location Box */
.location-box {
    margin-top: 15px;
    padding: 20px;
    background: #ccc;
    text-align: center;
    border-radius: 5px;
}

.location-icon {
    font-size: 24px;
    display: block;
}



.inquiry-box textarea {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: white solid 1px;
    background: #934242;
    font-family: Arial;
    color: white;
}

/* Attach Photo */
.photo-upload {
    text-align: center;
    margin-top: 35px;
}


.photo-upload button {
    background: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
}

.photo-upload input {
    display: none;
}

/* Terms & Agreements */
.terms {
    margin-top: 55px;
    margin-bottom: 30px;
}

.terms label {
    color: white;
}

/* Submit Button */
.submit-btn {
    background: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    width: 20%;
    font-size: 1rem;
    font-style: italic;
    font-weight: 1000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.submit-btn:hover {
    background: #ff3c00;
    transition: .2s ease-in, color .3s ease-out;
}

.photo {
    padding: 10px;
    margin: 20px;
    text-align: left;
}

/*Basic User Information*/
.report-section {
    display: flex;
    flex: 1;
    align-items: center;
    background: #4a1f1f;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 90%;
}

.report-section label {
    display: block;
    color: white;
    margin-top: 5px;
    font-size: 1rem;
    font-family: Arial;
    font-style: italic;
    font-weight: 800;
}

/*Subject and Emergency Type*/
.subject-and-type label {
    margin-top: 50px;
}

.subject-and-type :placeholder-shown {
    text-align: center;
}

select {
    margin: 10px;
    background: #ffcc00;
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
}


input.subject-report {
    width: 300px;
    height: 30px;
    padding: 3px;
    margin: 10px;
}


/*Location Inputbox Style*/
input#locationSearch.location-search.pac-target-input {
    width: 300px;
    height: 30px;
    padding: 3px;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}

.search-input label {
    margin-top: 50px;

}


.inquiry-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.inquiry-box textarea {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: white solid 2px;
    background: #934242;
    font-family: Arial;
    color: #f5e9e9;
}

.inquiry-box textarea::placeholder{
    color: #ffffff;
}

.submit-btn {
    background: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    width: 20%;
    font-size: 1rem;
    font-style: italic;
    font-weight: 1000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}