@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(Homepage.png) no-repeat center center fixed, #240b0b;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Container */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 15px 5%;
    background: #720D2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 100px;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar a {
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

/* Hover Effect */
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(4px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0px);
    opacity: 1;
}

/* HAMBURGERRRR Menu Button */
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 200;
}

/* Resposive Settings for Mobile */
@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #720D2A;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 0;
        z-index: 150;
    }

    .navbar a {
        width: auto;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
    }

    .navbar a::after {
        left: 0;
        width: 100%; /* underline span */
        transform: translateY(10px);
    }

    .navbar a:hover::after {
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }
}

/* Background */
.background {
    width: 100%;
    height: 500vh;
    background: transparent;
    background-size: cover;
    background-position: center;
}


.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img{
    width: 10vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-top: 100px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    
}

.filters select{
    border-radius: 15px;
    color: #f0f0f0;
    background-color: #720D2A;
    border: 2px solid rgb(255, 255, 255);
}

select {
    padding: 8px;
    font-size: 14px;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: #c4aaaa;
    border: 2px solid rgb(255, 255, 255);
}

th{
    color: #decbcb;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}

/* Highlight row on hover */
tbody tr {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
tbody tr:hover {
    color: #f0f0f0;
    background-color: #720D2A;
}

tbody td:hover{
    color: #f0f0f0;
    background-color: #9a0f36;
}

/* Scrollable text area below the map */
.scrollable-text {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 15px;
}